@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la herramienta de Inventario</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Prueba realizada para el cargo de desarrollador .Net</a>.</p>

    
</div>
